@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@font-face {
    font-family: 'Saw cfcr000';
    src: url('Saw cfcr000.eot?#iefix') format('embedded-opentype'), 
    url('Saw cfcr000.ttf')  format('truetype'),
    url('Saw cfcr000.svg#svgSaw cfcr000') format('svg');
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #444444;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 100px;
    height: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.lang-menu button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(115,198,240);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: rgb(93, 155, 187);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

@media (max-width: 1500px) {
    li, a, button {
        font-size: 12px;
    }
}

@media (max-width: 1300px) {
    .toggle-button {
        display: flex;
    }

    .nav_links {
        display: none;
        width: 100%;

    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: .5rem 1rem;
    }

    .nav_links.active {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .lang-menu {
        display: none;
    }

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }