footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    background-color: #1f1f1f;
}

footer p, address {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

  .bi-youtube {
    color: #dd4b39;
    /* margin: 5px 20px; */
  }

  .bi-youtube:hover {
      opacity: 0.7;
  }

